!!!
%html
%head
  %title Ruby On Rails jobs
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  %nav.navbar-default
    .container
      .navbar-brand Rails Jobs
      %ul.nav.navbar-nav
        %li= link_to "all Jobs", root_path
        -Category.all.each do |category|
          %li= link_to category.name, jobs_path(category: category.name)
      %p= link_to 'new Job', new_job_path, class:'navbar-text navbar-right navbar-link'
  .container
    = yield